.circle {
height: 30px;
width: 30px;
margin: auto;
border: 3px solid rgba(146,146,157,0.4);
border-left-color: rgb(28,159,0);
border-radius: 1748px;
-o-border-radius: 1748px;
-ms-border-radius: 1748px;
-webkit-border-radius: 1748px;
-moz-border-radius: 1748px;
animation: cssload-rotate 750ms linear infinate;
-o-animation: cssload-rotate 750ms linear infinate;
-ms-animation: cssload-rotate 750ms linear infinate;
-webkit-animation: cssload-rotate 750ms linear infinate;
-moz-animation: cssload-rotate 750ms linear infinate;

&.small {
height: 18px;
width: 18px;
}
}

.test {
text-align: left;
}

@keyframes cssload-rotate {
100% {
transform: rotate(360deg);
}
}

@-o-keyframes cssload-rotate {
100% {
transform: rotate(360deg);
}
}

@-ms-keyframes cssload-rotate {
100% {
transform: rotate(360deg);
}
}

@-webkit-keyframes cssload-rotate {
100% {
transform: rotate(360deg);
}
}

@-moz-keyframes cssload-rotate {
100% {
transform: rotate(360deg);
}
}